html {
    font-size: 8px; /* Basis for rem units */ 
}

body {
    margin: 0;
    font-size: 2rem; /* Basis for em units */
}

.hidden {
    display: none;
}

$menu_backgroundColor: #222222;
$menu_linkColor: #9d9d9d;
$menu_linkColor-current: #ffffff;
$menu_linkColor-hover: #ffffff;
$menu_linkBackgroundColor-current: #000000;
$menuButton_backgroundColor: #3d3d3d;
$menuButton_textColor: #ffffff;
$menu_bottomBorderColor: #101010;

.menu {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-transform: uppercase;
    background-color: $menu_backgroundColor;
    
    &_items {
        width: 90%;
        max-width: 240rem;
        margin: 0 auto;
        
        list-style-type: none;
        
        @media (max-width: 47.5em) { /* 760px */
            box-sizing: border-box;
            width: 100%;
            margin: 0 auto;
            padding: 0;
        }
    }
    
    &_item {
        display: inline-block;

        &-current {
            background-color: $menu_linkBackgroundColor-current;
        }
        
        @media (max-width: 47.5em) {
            display: block;
        }
    }
    
    &_link {
        box-sizing: border-box;
        display: inline-block;
        padding: 1em;
        
        color: $menu_linkColor;
        font-weight: bold;
        text-decoration: none;
        
        &-current {
            color: $menu_linkColor-current;
        }
        
        &:hover {
            color: $menu_linkColor-hover;
        }

        @media (max-width: 47.5em) {
            width: 100%;
        }
    }
    
    &_buttonWrapper{
        display: none;
        &:after {
            content: '';
            display: table;
            clear: both;
        }

        @media (max-width: 47.5em) {
            display: block;
            padding: 1em;
            margin-bottom: .5em;
            
            color: $menu_linkColor;
            border-bottom: .125rem solid $menu_bottomBorderColor;
            
            -webkit-box-shadow: 0 .125rem 0 rgba(255,255,255,.1);
            box-shadow: 0 .125rem 0 rgba(255,255,255,.1);
        }
    }
    
    &_button {
        box-sizing: border-box;
        float: left;
        display: flex;
        align-items: center;
        padding: .5em 1em;
        
        color: $menuButton_textColor;
        background-color: $menuButton_backgroundColor;
        border-radius: .5rem;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        &:hover {
            cursor: pointer;
        }
    }    
    
    &_text {
        display: inline-block;
        margin-right: .5em;
        line-height: 1;
    }
    
    &_hamburger {
        width: 1em;
        height: 1em;
        fill: $menuButton_textColor;
    }
}
