html{
  font-size:14px;
  font-family: system-ui, sans-serif;
  }
body{
 margin:0;font-size:14px;
 background-color:#b1c7c7;
}

  #content{
  	position:absolute;
  	left:10%;  
}

<!-- menu -->
.hidden{
  display:none
}
.menu{font-family: system-ui, sans-serif;
  text-align:left;
  background-color:#71b09f;
}
.menu_items{width:90%;
 max-width:240rem;
 margin:0 auto;
 list-style-type:none
}
  @media (max-width: 47.5em)
  {.menu_items{
    box-sizing:border-box;
    width:100%;
    margin:0 auto;padding:0}}
  .menu_item{
    display:inline-block;
  }
.menu_item-current
  {background-color:#000}
  @media (max-width: 47.5em)
  {.menu_item{display:block}}
.menu_link{
    box-sizing:border-box;
    display:inline-block;
    padding:1em;color:#eee;;
    font-weight:bold;
    text-decoration:none}
.menu_link-current{color:#fff}
.menu_link:hover{
    color:#b1c7c7;}@media (max-width: 47.5em){.menu_link{width:100%}}
.menu_buttonWrapper{
    display:none}
.menu_buttonWrapper:after
  {content:'';display:table;clear:both
}
  @media (max-width: 47.5em){
    .menu_buttonWrapper
    {display:block;padding:1em;
      margin-bottom:.5em;color:#9d9d9d;
      border-bottom:0.125rem solid #101010;
      -webkit-box-shadow:0 0.125rem 0 rgba(255,255,255,0.1);
      box-shadow:0 0.125rem 0 rgba(255,255,255,0.1)}}
      .menu_button{
        box-sizing:border-box;
        float:left;
        display:flex;
        align-items:center;
        padding:.5em 1em;
        color:#fff;
        background-color:#3d3d3d;
        border-radius:.5rem;
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -khtml-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;user-select:none}
        .menu_button:hover{cursor:pointer}
        .menu_text{display:inline-block;
          margin-right:.5em;line-height:1}
          .menu_hamburger{width:1em;height:1em;fill:#fff}
<!-- end of menu -->
